/[if lte IE 7]
  #browser-message
    %span
      This browser needs to be upgraded to use Graph Connect.
      %a.link{ :href => 'http://windows.microsoft.com/en-US/internet-explorer/downloads/ie', :target => '_blank' }
        Click here
      to upgrade or try
      %a.link{ :href => 'http://www.google.com/chrome', :target => '_blank' }
        Chrome
      %a.close-browser-message
        X